@media only screen and (max-width: 767px) {
    .Register-component{
        margin-top: 3%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 12px !important;
    }

    .Register-container-1{
        background-color: #1E1E1E;
        height: 30vh;
        width: 80vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-radius: 5px;
        margin-bottom: 5%;
    }
    
    .Register-buttons-container{
        width: 50vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .Register-buttons-container button{
        background-color: #DFA040;
        border: solid 2px #DFA040;
        border-radius: 5px;
        width: 25vw;
        margin: 0% 5%;
        margin-bottom: 5% !important;
        padding: 0.6% 4%;
        font-weight: 500 !important;
        color: rgb(19, 19, 19);
        font-size: 13px !important;
    }
    
    .Register-buttons-container button:hover{
        background-color: #c98f39;
        border: solid 2px #c98f39;
    }

    .Register-P-container p {
        margin-top: 5%;
        color: rgb(255, 255, 255);
        width: 40vw;
    }

    .Register-container-2{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: #1E1E1E;
        height: 30vh;
        width: 80vw;
        border-radius: 5px;
    }

    .Register-Image{
        width: 100vw;
        height: 30vh;
    }

}


@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .Register-component{
        margin-top: 3%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 12px !important;
    }

    .Register-container-1{
        background-color: #1E1E1E;
        height: 30vh;
        width: 60vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-radius: 5px;
        margin-bottom: 5%;
    }
    
    .Register-buttons-container{
        width: 50vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .Register-buttons-container button{
        background-color: #DFA040;
        border: solid 2px #DFA040;
        border-radius: 5px;
        width: 25vw;
        margin: 0% 5%;
        margin-bottom: 5% !important;
        padding: 0.6% 4%;
        font-weight: 500 !important;
        color: rgb(19, 19, 19);
        font-size: 13px !important;
    }

    .Register-buttons-container button:hover{
        background-color: #c98f39;
        border: solid 2px #c98f39;
    }
    
    .Register-P-container{

    }

    .Register-P-container p {
        margin-top: 5%;
        color: white;
        width: 40vw;
    }

    .Register-container-2{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: #1E1E1E;
        height: 30vh;
        width: 60vw;
        border-radius: 5px;
    }

    .Register-Image{
        width: 80vw;
    }
}


@media only screen and (min-width: 1024px) {
    .Register-component{
        margin-top: 3%;
        display: flex;
    }

    .Register-container-1{
        background-color: #1E1E1E;
        height: 50vh;
        width: 35vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    
    .Register-buttons-container{
        width: 30vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .Register-buttons-container button{
        background-color: #DFA040;
        border: solid 2px #DFA040;
        border-radius: 5px;
        width: 9vw;
        margin: 0% 5%;
        padding: 0.6% 4%;
        font-weight: 500;
        color: rgb(19, 19, 19);
    }

    .Register-buttons-container button:hover{
        background-color: #c98f39;
        border: solid 2px #c98f39;
    }
    
    .Register-P-container{

    }

    .Register-P-container p {
        margin-top: 5%;
        color: white;
        width: 20vw;
    }

    .Register-container-2{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: #1E1E1E;
        height: 50vh;
        width: 65vw;
        margin-left: 1%;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    .Register-Image{
        width: 50vw;
    }

}