    @media only screen and (max-width: 767px){

      .restocard-chef {
        display: none;
        }
        .restocard-chef:first-child {
        display: block;
        }
        .resto-component{
          background-image: url(../../assets/images/restaurants/background1.png);
          background-position: center;
          background-repeat: no-repeat;
          background-attachment:fixed;
          background-size: cover;
          margin: 2% 0%;
          display: flex;
          justify-content: center;
          align-items: center;
      }
    
      .resto-container{
        margin-top: 10%;
        width: 90vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    
      .resto-title h2{
        text-align: center;
            font-size: 25px;
            font-weight: 700;
            color: #ffb700;
      }
    
      .resto-carousel-container{
        width: 50vw;
        height: 30vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
      }
    
    
      .resto-card-container {
        margin-top: -5%;
        display: flex;
        justify-content: center; 
        align-items: center; 
        gap: 10px;
        }
        
    
        .restocard-chef{
        flex: 1 0 calc(25% - 10px);
        margin: 0;
        }
    
        .carousel-controls-resto{
        margin-top: -70%;
        display: flex;
            align-items: center;
            justify-content: space-between;
            text-align: center;
            width: 100vw;
            height: auto;
        }
    
        .control-prev-resto{
        border: none;
            background: rgba(0, 0, 0, 0);
            color: #DFA040;
            font-size: 50px;
            margin: 0% 5%;
            cursor: pointer;
            user-select: none;
            z-index: 100;
        }
    
        .control-next-resto{
        border: none;
            background: rgba(0, 0, 0, 0);
            color: #DFA040;
            font-size: 50px;
            margin: 0% 5%;
            cursor: pointer;
            user-select: none;
            z-index: 100;
      }
    
      .control-prev-resto:hover,
        .control-next-resto:hover {
            color: #c28b38;
            background-color: transparent;
        }
    
      .resto-cards-button{
        background-color: rgb(255, 183, 0);
            border: solid 2px rgb(255, 183, 0);
            border-radius: 5px;
            margin-top: 3%;
            padding: 0.6% 4%;
            font-weight: 600;
        color:rgb(20, 20, 20) ;
      }
    
      .resto-cards-button:hover {
        background-color: rgb(204, 146, 0);
            border: solid 2px rgb(204, 146, 0);
      }
    }
    
    @media only screen and (min-width: 768px) and (max-width: 1023px){
    
      .chefcard-resto {
        display: none;
        }
        .chefcard-resto:nth-child(-n+2) {
        display: block;
        }
        .resto-component{
        margin: 2% 0%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    
      .resto-container{
        background-image: url(../../assets/images/restaurants/background1.png);
          background-position: center;
          background-repeat: no-repeat;
          background-attachment:fixed;
          background-size: cover;
        margin-top: 0%;
        width: 90vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    
      .resto-title{
        margin: 2% 0;
      }
    
      .resto-title h2{
        text-align: center;
            font-size: 25px;
            font-weight: 700;
            color: #ffb700;
      }
    
      .resto-carousel-container{
        width: 90vw;
        height: 36vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
      }
    
    
      .resto-card-container {
        margin-top: -25%;
        margin-left: 5%;
        display: flex;
        justify-content: center; 
        align-items: center; 
        gap: 10px;
        }
        
    
        .restocard-chef{
        flex: 1 0 calc(25% - 10px);
        margin: 0;
        }
    
        .carousel-controls-resto{
        margin-top: -28%;
          display: flex;
            align-items: center;
            justify-content: space-between;
            text-align: center;
            width: 100vw;
            height: auto;
        }
    
        .control-prev-resto{
        border: none;
            background: rgba(0, 0, 0, 0);
            color: #DFA040;
            font-size: 50px;
            margin: 0% 5%;
            cursor: pointer;
            user-select: none;
            z-index: 100;
        }
    
        .control-next-resto{
        border: none;
            background: rgba(0, 0, 0, 0);
            color: #DFA040;
            font-size: 50px;
            margin: 0% 5%;
            cursor: pointer;
            user-select: none;
            z-index: 100;
      }
    
      .control-prev-resto:hover,
        .control-next-resto:hover {
            color: #c28b38;
            background-color: transparent;
        }
    
      .resto-cards-button{
        background-color: rgb(255, 183, 0);
            border: solid 2px rgb(255, 183, 0);
            border-radius: 5px;
            margin-top: -25%;
            padding: 0.6% 4%;
            font-weight: 600;
        color:rgb(20, 20, 20) ;
      }
    
      .resto-cards-button:hover {
        background-color: rgb(204, 146, 0);
            border: solid 2px rgb(204, 146, 0);
      }
    }
    
    @media only screen and (min-width: 1024px) {
    
      .resto-component{
        background-image: url(../../assets/Images/restaurants/background1.png);
          background-position: center;
          background-repeat: no-repeat;
          background-attachment:fixed;
          background-size: cover;
        margin: 2% 0%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    
      .resto-container{
        margin-top: 0%;
        width: 90vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    
      .resto-title{
        margin: 2% 0;
      }
    
      .resto-title h2{
        text-align: center;
            font-size: 35px;
            font-weight: 700;
            color: #ffb700;
      }
    
      .resto-carousel-container{
        width: 50vw;
        height: 36vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
      }
    
    
      .resto-card-container {
        margin-top: -5%;
        display: flex;
        justify-content: center; 
        align-items: center; 
        gap: 10px;
        }
        
    
        .restocard-chef{
        flex: 1 0 calc(25% - 10px);
        margin: 0;
        }
    
        .carousel-controls-resto{
        margin-top: -21%;
        display: flex;
            align-items: center;
            justify-content: space-between;
            text-align: center;
            width: 80vw;
            height: auto;
        }
    
        .control-prev-resto{
        border: none;
            background: rgba(0, 0, 0, 0);
            color: #DFA040;
            font-size: 50px;
            margin: 0% 5%;
            cursor: pointer;
            user-select: none;
            z-index: 100;
        }
    
        .control-next-resto{
        border: none;
            background: rgba(0, 0, 0, 0);
            color: #DFA040;
            font-size: 50px;
            margin: 0% 5%;
            cursor: pointer;
            user-select: none;
            z-index: 100;
      }
    
      .control-prev-resto:hover,
        .control-next-resto:hover {
            color: #c28b38;
            background-color: transparent;
        }
    
      .resto-cards-button{
        background-color: rgb(255, 183, 0);
            border: solid 2px rgb(255, 183, 0);
            border-radius: 5px;
            margin-top: 3%;
            padding: 0.6% 4%;
            font-weight: 600;
        color:rgb(20, 20, 20) ;
      }
    
      .resto-cards-button:hover {
        background-color: rgb(204, 146, 0);
            border: solid 2px rgb(204, 146, 0);
      }
    }
    